:root {
--branco-principal
--cinza-secundario
--botao-azul
--cor-de-fundo

}
body {
    background-color: display: color: overflow: display: 
}
.capa-livro{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 20%;
    padding: 10%;
}