:root {
--branco-principal
--cinza-secundario
--botao-azul
--cor-de-fundo

}
body {
    background-color: display: color: overflow: display: 
}
.capa-livro{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 50px;
    padding: 50px;
    margin: 10px;
}